In [1]:
import numpy as np
import pandas as pd
# from numpy.random import randn

In [9]:
df= pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  1.771882  0.440918 -1.111166  0.576482
B  1.764938 -1.130363  1.695664 -0.041798
C  0.410408  0.874796  1.287939  2.273967
D -0.521045  0.874867 -1.372189 -0.977774
E  0.919201  0.836114  1.447239 -0.823785

In [10]:
type(df)

pandas.core.frame.DataFrame

In [43]:
df['W']

A    1.771882
B    1.764938
C    0.410408
D   -0.521045
E    0.919201
Name: W, dtype: float64

In [13]:
type(df['W'])

pandas.core.series.Series

In [15]:
df[['W','X']]

          W         X
A  1.771882  0.440918
B  1.764938 -1.130363
C  0.410408  0.874796
D -0.521045  0.874867
E  0.919201  0.836114

In [16]:
type(df[['W','X']])

pandas.core.frame.DataFrame

In [21]:
df['new']= df['W']+ df['Y']
df

          W         X         Y         Z       new
A  1.771882  0.440918 -1.111166  0.576482  0.660717
B  1.764938 -1.130363  1.695664 -0.041798  3.460603
C  0.410408  0.874796  1.287939  2.273967  1.698347
D -0.521045  0.874867 -1.372189 -0.977774 -1.893234
E  0.919201  0.836114  1.447239 -0.823785  2.366441

In [25]:
df.drop('new',axis=1)      #It doesn't effect df

          W         X         Y         Z
A  1.771882  0.440918 -1.111166  0.576482
B  1.764938 -1.130363  1.695664 -0.041798
C  0.410408  0.874796  1.287939  2.273967
D -0.521045  0.874867 -1.372189 -0.977774
E  0.919201  0.836114  1.447239 -0.823785

In [26]:
df

          W         X         Y         Z       new
A  1.771882  0.440918 -1.111166  0.576482  0.660717
B  1.764938 -1.130363  1.695664 -0.041798  3.460603
C  0.410408  0.874796  1.287939  2.273967  1.698347
D -0.521045  0.874867 -1.372189 -0.977774 -1.893234
E  0.919201  0.836114  1.447239 -0.823785  2.366441

In [27]:
df.drop('A')        #by deafult axis=0 for index(row)

          W         X         Y         Z       new
B  1.764938 -1.130363  1.695664 -0.041798  3.460603
C  0.410408  0.874796  1.287939  2.273967  1.698347
D -0.521045  0.874867 -1.372189 -0.977774 -1.893234
E  0.919201  0.836114  1.447239 -0.823785  2.366441

In [28]:
df

          W         X         Y         Z       new
A  1.771882  0.440918 -1.111166  0.576482  0.660717
B  1.764938 -1.130363  1.695664 -0.041798  3.460603
C  0.410408  0.874796  1.287939  2.273967  1.698347
D -0.521045  0.874867 -1.372189 -0.977774 -1.893234
E  0.919201  0.836114  1.447239 -0.823785  2.366441

In [30]:
df.drop('new',axis=1,inplace=True)     #it effects the df 
df

          W         X         Y         Z
A  1.771882  0.440918 -1.111166  0.576482
B  1.764938 -1.130363  1.695664 -0.041798
C  0.410408  0.874796  1.287939  2.273967
D -0.521045  0.874867 -1.372189 -0.977774
E  0.919201  0.836114  1.447239 -0.823785

In [32]:
df.loc['A']        ## accessing rows

W    1.771882
X    0.440918
Y   -1.111166
Z    0.576482
Name: A, dtype: float64

In [34]:
df.iloc[0]        ##accessing row by numerical index

W    1.771882
X    0.440918
Y   -1.111166
Z    0.576482
Name: A, dtype: float64

In [35]:
df.loc[['A','B']]

          W         X         Y         Z
A  1.771882  0.440918 -1.111166  0.576482
B  1.764938 -1.130363  1.695664 -0.041798

In [37]:
df.iloc[[0,1]]

          W         X         Y         Z
A  1.771882  0.440918 -1.111166  0.576482
B  1.764938 -1.130363  1.695664 -0.041798

In [39]:
df.loc['A','Z']

0.5764820339403253