In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
df

          w         x         y         z
a -1.511011 -0.678863 -0.893935  0.634370
b  1.170463  0.867741  0.333405 -1.608783
c  1.372053  1.537487  1.386142 -0.381846
d -0.504840 -1.042049  0.752750  0.137541
e  0.182035 -1.619979 -0.542224  0.319192

In [6]:
df > 0

       w      x      y      z
a  False  False  False   True
b   True   True   True  False
c   True   True   True  False
d  False  False   True   True
e   True  False  False   True

In [7]:
df[df > 0]

          w         x         y         z
a       NaN       NaN       NaN  0.634370
b  1.170463  0.867741  0.333405       NaN
c  1.372053  1.537487  1.386142       NaN
d       NaN       NaN  0.752750  0.137541
e  0.182035       NaN       NaN  0.319192

In [8]:
df['w'] > 0

a    False
b     True
c     True
d    False
e     True
Name: w, dtype: bool

In [11]:
df.loc['a'] > 0

w    False
x    False
y    False
z     True
Name: a, dtype: bool

In [14]:
df[df['w'] > 0]

          w         x         y         z
b  1.170463  0.867741  0.333405 -1.608783
c  1.372053  1.537487  1.386142 -0.381846
e  0.182035 -1.619979 -0.542224  0.319192

In [24]:
df[df['w']>0]['x']

b    0.867741
c    1.537487
e   -1.619979
Name: x, dtype: float64

In [22]:
df[df['w']>0][['x','y']]

          x         y
b  0.867741  0.333405
c  1.537487  1.386142
e -1.619979 -0.542224

## Using Multiple conditions

In [29]:
df[(df['w']>0) & (df['y']>0)]

          w         x         y         z
b  1.170463  0.867741  0.333405 -1.608783
c  1.372053  1.537487  1.386142 -0.381846

In [31]:
df[(df['w']>0) | (df['y']>0)]

          w         x         y         z
b  1.170463  0.867741  0.333405 -1.608783
c  1.372053  1.537487  1.386142 -0.381846
d -0.504840 -1.042049  0.752750  0.137541
e  0.182035 -1.619979 -0.542224  0.319192

In [32]:
df.reset_index()

  index         w         x         y         z
0     a -1.511011 -0.678863 -0.893935  0.634370
1     b  1.170463  0.867741  0.333405 -1.608783
2     c  1.372053  1.537487  1.386142 -0.381846
3     d -0.504840 -1.042049  0.752750  0.137541
4     e  0.182035 -1.619979 -0.542224  0.319192

In [34]:
new_index = 'F G H I J'.split()
new_index

['F', 'G', 'H', 'I', 'J']

In [49]:
df['new'] = new_index
df

          w         x         y         z new
a -1.511011 -0.678863 -0.893935  0.634370   F
b  1.170463  0.867741  0.333405 -1.608783   G
c  1.372053  1.537487  1.386142 -0.381846   H
d -0.504840 -1.042049  0.752750  0.137541   I
e  0.182035 -1.619979 -0.542224  0.319192   J

In [50]:
df.set_index('new')

            w         x         y         z
new
F   -1.511011 -0.678863 -0.893935  0.634370
G    1.170463  0.867741  0.333405 -1.608783
H    1.372053  1.537487  1.386142 -0.381846
I   -0.504840 -1.042049  0.752750  0.137541
J    0.182035 -1.619979 -0.542224  0.319192