In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
outside = ['g1','g1','g1','g2','g2','g2']

In [9]:
inside = [1,2,3,1,2,3]

In [10]:
index = list(zip(outside,inside))
index = pd.MultiIndex.from_tuples(index)

In [11]:
index

MultiIndex([('g1', 1),
            ('g1', 2),
            ('g1', 3),
            ('g2', 1),
            ('g2', 2),
            ('g2', 3)],
           )

In [22]:
df = pd.DataFrame(np.random.randn(6,2),index,['a','b'])    ##creating dataframe using mutlilevel index
df

             a         b
g1 1  0.800323 -1.480063
   2 -0.607748 -0.220987
   3 -0.536704 -0.303085
g2 1  0.393153 -1.247566
   2  0.041451 -1.032669
   3  0.657598  2.134872

In [21]:
df.loc['g1']          ##Sub dataframe

          a         b
1  0.881996  0.751939
2  0.258684  0.750992
3 -0.496375  0.881425

In [23]:
df.loc['g1'].loc[1]

a    0.800323
b   -1.480063
Name: 1, dtype: float64

In [27]:
df.index.names = ['Level1','Level2']        ##giving the names for indexs
df

                      a         b
Level1 Level2
g1     1       0.800323 -1.480063
       2      -0.607748 -0.220987
       3      -0.536704 -0.303085
g2     1       0.393153 -1.247566
       2       0.041451 -1.032669
       3       0.657598  2.134872

In [32]:
df.xs('g1')                         #Another way to accessing by index

               a         b
Level2
1       0.800323 -1.480063
2      -0.607748 -0.220987
3      -0.536704 -0.303085

In [30]:
df.xs(1,level='Level2')

               a         b
Level1
g1      0.800323 -1.480063
g2      0.393153 -1.247566