In [1]:
import pandas as pd

In [13]:
sal = pd.read_csv('~/Documents/Salaries.csv')
sal = sal.head(10)
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [14]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                10 non-null     int64
 1   EmployeeName      10 non-null     object
 2   JobTitle          10 non-null     object
 3   BasePay           10 non-null     object
 4   OvertimePay       10 non-null     object
 5   OtherPay          10 non-null     object
 6   Benefits          0 non-null      object
 7   TotalPay          10 non-null     float64
 8   TotalPayBenefits  10 non-null     float64
 9   Year              10 non-null     int64
 10  Notes             0 non-null      float64
 11  Agency            10 non-null     object
 12  Status            0 non-null      object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.1+ KB

In [15]:
sal['BasePay'].mean()

167829.954

In [18]:
sal['OvertimePay'].max()

245131.88

## Job title of Alson lee

In [19]:
sal[sal['EmployeeName'] == 'ALSON LEE']['JobTitle']

6    BATTALION CHIEF, (FIRE DEPARTMENT)
Name: JobTitle, dtype: object

# How much Alson lee make(total)

In [22]:
sal[sal['EmployeeName'] == 'ALSON LEE']['TotalPayBenefits']

6    315981.05
Name: TotalPayBenefits, dtype: float64

# who is highest paid(including benefits)

In [27]:
 sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [32]:
sal.loc[sal['TotalPayBenefits'].argmax()]['EmployeeName']

'NATHANIEL FORD'

## who is lowest paid(including benefits)

In [33]:
sal.loc[sal['TotalPayBenefits'].argmin()]['EmployeeName']

'JOANNE HAYES-WHITE'

# Avearge(mean) BasePay of all employees per year?(2011-2014)

In [35]:
sal = pd.read_csv('~/Documents/Salaries.csv')

/home/vishnu/jupyter/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [55]:
sal.groupby('Year').mean()['BasePay']

In [43]:
sal['JobTitle'].nunique()        ## How many unique Job title

2159

In [50]:
sal['JobTitle'].value_counts().head(10)        ##Top 5 most common jobs

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

# How many Jobs represented by only one person in 2013

In [51]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

# How many people have word chief in their job title

In [52]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [54]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477