In [1]:
import numpy as np
import pandas as pd

In [10]:
my_data = [1,2,3]

In [11]:
labels= ['a','b','c']

In [12]:
d= {'x':10,'y':20,'z':30}
d

{'x': 10, 'y': 20, 'z': 30}

In [13]:
arr= np.array(my_data)
arr

array([1, 2, 3])

In [15]:
pd.Series(data= my_data)

0    1
1    2
2    3
dtype: int64

In [17]:
pd.Series(data= my_data, index=labels)      #OR pd.Series(my_data, labels)

a    1
b    2
c    3
dtype: int64

In [32]:
pd.Series(arr, labels)    #passing numpy array

a    1
b    2
c    3
dtype: int64

In [19]:
pd.Series(d)

x    10
y    20
z    30
dtype: int64

In [21]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [23]:
s1 = pd.Series([1,2,3,4],['India','Germany','New Zealand','England'])
s1

India          1
Germany        2
New Zealand    3
England        4
dtype: int64

In [24]:
s2 = pd.Series([1,2,3,4],['India','Italy','New Zealand','France'])
s2

India          1
Italy          2
New Zealand    3
France         4
dtype: int64

In [25]:
s1+s2

England        NaN
France         NaN
Germany        NaN
India          2.0
Italy          NaN
New Zealand    6.0
dtype: float64

In [29]:
s3 = pd.Series(['India','Germany','New Zealand','England'],[1,2,3,4])

In [30]:
s4 = pd.Series(['India','Italy','New Zealand','France'],[1,2,3,4])

In [31]:
s3+s4

1                IndiaIndia
2              GermanyItaly
3    New ZealandNew Zealand
4             EnglandFrance
dtype: object